# Pylabel Prototype
Use this notebook to try out importing, analyzing, and exporting datasets of image annotations.

In [ ]:
#from io import StringIO
import json
import pandas as pd

#These are the valid columns in the pylabel annotations table.              
schema = ['id','img_folder','img_filename','img_path','img_id','img_width','img_height','img_depth','ann_segmented','cat_id','cat_name','cat_supercategory','ann_bbox_xmin','ann_bbox_ymin','ann_bbox_xmax','ann_bbox_ymax','ann_bbox_width','ann_bbox_height','ann_area','ann_segmentation','ann_iscrowd']

## Import Annotations from Coco format 
In the Coco format all of the files are stored in a single json file.

In [ ]:
#Download the sample coco file so it can be read and imported
#!wget https://raw.githubusercontent.com/pylabelalpha/notebook/main/test.json
!wget https://raw.githubusercontent.com/pylabelalpha/notebook/main/coco_instances_val2017.json

coco_annnotations = "coco_instances_val2017.json"
#coco_annnotations = "test.json"

--2021-09-17 04:05:16--  https://raw.githubusercontent.com/pylabelalpha/notebook/main/coco_instances_val2017.json
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19987840 (19M) [text/plain]
Saving to: ‘coco_instances_val2017.json.3’

coco_instances_val2 100%[===================>]  19.06M  93.7MB/s    in 0.2s

2021-09-17 04:05:16 (93.7 MB/s) - ‘coco_instances_val2017.json.3’ saved [19987840/19987840]

In [ ]:
def ImportCoco(path):
    with open(path) as cocojson:
        annotations_json = json.load(cocojson)

    #Store the 3 sections of the json as seperate json arrays
    images = pd.json_normalize(annotations_json["images"])
    images.columns = 'img_' + images.columns

    annotations = pd.json_normalize(annotations_json["annotations"])
    annotations.columns = 'ann_' + annotations.columns

    categories = pd.json_normalize(annotations_json["categories"])
    categories.columns = 'cat_' + categories.columns

    df = annotations
    df[['ann_bbox_xmin','ann_bbox_ymax','ann_bbox_width','ann_bbox_height']] = pd.DataFrame(df.ann_bbox.tolist(), index= df.index)
    df.insert(8, 'ann_bbox_xmax', df['ann_bbox_xmin'] + df['ann_bbox_width'] )
    df.insert(10, 'ann_bbox_ymin', df['ann_bbox_ymax'] - df['ann_bbox_height'] )
    
    #debug print(df.info())

    #Join the annotions with the information about the image to add the image columns to the dataframe
    df = pd.merge(images, df, left_on='img_id', right_on='ann_image_id', how='left')
    df = pd.merge(df, categories, left_on='ann_category_id', right_on='cat_id', how='left')
    
    #Rename columns if needed from the coco column name to the pylabel column name 
    df.rename(columns={"img_file_name": "img_filename"}, inplace=True)

    #Drop columns that are not in the schema
    df = df[df.columns.intersection(schema)]

    #Add missing columns that are in the schema but not part of the table
    df[list(set(schema) - set(df.columns))] = ""

    #Reorder columns
    df = df[schema]

    return df

df = ImportCoco(coco_annnotations)

#This dataframe has all of the annotations
df

      id  ... ann_iscrowd
0         ...         0.0
1         ...         0.0
2         ...         0.0
3         ...         0.0
4         ...         0.0
...   ..  ...         ...
36824     ...         0.0
36825     ...         0.0
36826     ...         0.0
36827     ...         0.0
36828     ...         0.0

[36829 rows x 21 columns]

In [ ]:
schema

['id',
 'img_folder',
 'img_filename',
 'img_path',
 'img_id',
 'img_width',
 'img_height',
 'img_depth',
 'ann_segmented',
 'cat_id',
 'cat_name',
 'cat_supercategory',
 'ann_bbox_xmin',
 'ann_bbox_ymin',
 'ann_bbox_xmax',
 'ann_bbox_ymax',
 'ann_bbox_width',
 'ann_bbox_height',
 'ann_area',
 'ann_segmentation',
 'ann_iscrowd']

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36829 entries, 0 to 36828
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   img_license              36829 non-null  int64
 1   img_file_name            36829 non-null  object
 2   img_coco_url             36829 non-null  object
 3   img_height               36829 non-null  int64
 4   img_width                36829 non-null  int64
 5   img_date_captured        36829 non-null  object
 6   img_flickr_url           36829 non-null  object
 7   img_id                   36829 non-null  int64
 8   ann_segmentation         36335 non-null  object
 9   ann_area                 36781 non-null  float64
 10  ann_iscrowd              36781 non-null  float64
 11  ann_image_id             36781 non-null  float64
 12  ann_bbox                 36781 non-null  object
 13  ann_category_id          36781 non-null  float64
 14  ann_id                   36781 non-null  float64
 15  ann_segmentation.counts  446 non-null    object
 16  ann_bbox_xmax            36781 non-null  float64
 17  ann_segmentation.size    446 non-null    object
 18  ann_bbox_ymin            36781 non-null  float64
 19  ann_bbox_xmin            36781 non-null  float64
 20  ann_bbox_ymax            36781 non-null  float64
 21  ann_bbox_width           36781 non-null  float64
 22  ann_bbox_height          36781 non-null  float64
 23  cat_supercategory        36781 non-null  object
 24  cat_id                   36781 non-null  float64
 25  cat_name                 36781 non-null  object
dtypes: float64(12), int64(4), object(10)
memory usage: 7.6+ MB

In [ ]:
df["cat_name"].value_counts()

TypeError: ignored

In [ ]:
df["cat_supercategory"].value_counts()

person        11004
vehicle        4082
kitchen        3687
furniture      3434
food           2835
animal         2700
indoor         2000
sports         1991
accessory      1881
electronic     1323
outdoor        1286
appliance       558
Name: cat_supercategory, dtype: int64