# Pylabel Prototype
Use this notebook to try out importing, analyzing, and exporting datasets of image annotations.

In [5]:
#from io import StringIO
import json
import pandas as pd

## Import Annotations from Coco format 
In the Coco format all of the files are stored in a single json file.

In [20]:
#Download the sample coco file so it can be read and imported
!wget https://raw.githubusercontent.com/pylabelalpha/notebook/main/test.json

coco_annnotations = "test.json"

--2021-09-15 14:36:52--  https://raw.githubusercontent.com/pylabelalpha/notebook/main/test.json
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.110.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 322313 (315K) [text/plain]
Saving to: ‘test.json.14’

test.json.14        100%[===================>] 314.76K  --.-KB/s    in 0.03s

2021-09-15 14:36:52 (9.51 MB/s) - ‘test.json.14’ saved [322313/322313]

In [21]:
def ImportCoco(path):

    with open(path) as cocojson:
        annotations_json = json.load(cocojson)

    #Store the 3 sections of the json as seperate json arrays
    images = pd.json_normalize(annotations_json["images"])
    images = images.rename(columns={"id": "image.id"})
    
    annotations = pd.json_normalize(annotations_json["annotations"])
    categories = pd.json_normalize(annotations_json["categories"])
    categories = categories.rename(columns={"id": "cat.id", "name": "cat.name", "supercategory": "cat.supercategory"})

    df = annotations
    df[['bbox.xmin','bbox.ymax','bbox.width','bbox.height']] = pd.DataFrame(df.bbox.tolist(), index= df.index)
    df = df.drop(['bbox'], axis=1)
    df.insert(8, 'bbox.xmax', df['bbox.xmin'] + df['bbox.width'] )
    df.insert(10, 'bbox.ymin', df['bbox.ymax'] - df['bbox.height'] )

    #Join the annotions with the information about the image to add the image collumns to the dataframe
    df = pd.merge(images, df, left_on='image.id', right_on='image_id', how='left')
    df = pd.merge(df, categories, left_on='category_id', right_on='cat.id', how='left')
    df = df.drop(['image_id','category_id'], axis=1)
    return df

df = ImportCoco(coco_annnotations)

#This dataframe has all of the annotations
df

                file_name  height  width  ...  cat.supercategory  cat.id   cat.name
0    BloodImage_00007.jpg     480    640  ...               none       2        WBC
1    BloodImage_00007.jpg     480    640  ...               none       1        RBC
2    BloodImage_00007.jpg     480    640  ...               none       1        RBC
3    BloodImage_00007.jpg     480    640  ...               none       1        RBC
4    BloodImage_00007.jpg     480    640  ...               none       1        RBC
..                    ...     ...    ...  ...                ...     ...        ...
940  BloodImage_00407.jpg     480    640  ...               none       1        RBC
941  BloodImage_00407.jpg     480    640  ...               none       2        WBC
942  BloodImage_00407.jpg     480    640  ...               none       3  Platelets
943  BloodImage_00407.jpg     480    640  ...               none       3  Platelets
944  BloodImage_00407.jpg     480    640  ...               none       3  Platelets

[945 rows x 18 columns]

In [54]:

df_left

                file_name  height  width  ...  ymin  bbox.width  bbox.height
0    BloodImage_00007.jpg     480    640  ...  -103         195          194
1    BloodImage_00007.jpg     480    640  ...   192         118          105
2    BloodImage_00007.jpg     480    640  ...   263         112          108
3    BloodImage_00007.jpg     480    640  ...   221         112          108
4    BloodImage_00007.jpg     480    640  ...   154          91          110
..                    ...     ...    ...  ...   ...         ...          ...
940  BloodImage_00407.jpg     480    640  ...   -15          96          108
941  BloodImage_00407.jpg     480    640  ...   104         169          185
942  BloodImage_00407.jpg     480    640  ...   155          70           74
943  BloodImage_00407.jpg     480    640  ...    67          46           45
944  BloodImage_00407.jpg     480    640  ...   -16          53           40

[945 rows x 17 columns]

In [ ]:
#convert annotations to a dataframe 
df = pd.json_normalize(categories)
df[['bbox.xmin','bbox.ymax','bbox.width','bbox.height']] = pd.DataFrame(df.bbox.tolist(), index= df.index)
df = df.drop(['bbox'], axis=1)
df.insert(8, 'xmax', df['bbox.xmin'] + df['bbox.width'] )
df.insert(10, 'ymin', df['bbox.ymax'] - df['bbox.height'] )

df_left = pd.merge(images, images, left_on='id', right_on='image_id', how='left')
df_left